/*!
 * Supertext translation
 * https://wordpress.org/plugins/polylang-supertext/
 * @author Heinrich Muralt
 * @version 1.9.0
 * Copyright 2016 */
.frmServiceSupertextConfig {
  width: 830px; }
  .frmServiceSupertextConfig select {
    width: 180px; }

.postbox_admin h3 {
  padding: 3px; }

.postbox_admin img {
  cursor: pointer; }

.postbox table th {
  text-align: left;
  font-weight: bold; }

.postbox input, .postbox select {
  font-size: 13px; }

.postbox .button-add {
  margin-top: 10px; }

.postbox .button-remove {
  padding-top: 2px; }

#shortcodesSettingsForm .shortcode-setting-container {
  float: left;
  padding: 5px 10px;
  margin-right: 5px;
  background: #ddd; }

#shortcodesSettingsForm .shortcode-setting-attributes {
  min-width: 417px; }

#shortcodesSettingsForm .shortcode-setting-title {
  margin-bottom: 5px; }

#shortcodesSettingsForm .shortcode-attribute-input {
  display: none; }

#shortcodesSettingsForm .button {
  margin: 1px; }

#translatablefieldsSettingsForm .custom-field-input {
  margin-bottom: 3px; }

#workflowSettingsForm .sttr-api-url {
  width: 400px;
  height: 28px;
  line-height: 28px;
  vertical-align: bottom; }
