.frmServiceSupertextConfig {
  width: 830px;
}

.frmServiceSupertextConfig select {
  width: 180px;
}

.postbox_admin h3 {
  padding: 3px;
}

.postbox_admin img {
  cursor: pointer;
}

.postbox table th{
  text-align: left;
  font-weight: bold;
}

.postbox table input, .postbox table select{
  font-size: 13px;
}

#tblShortcodes .shortcode-attribute-input{
  float:left;
  display: none;
  padding-right: 10px;
}

#tblShortcodes .shortcode-attribute-remove-input{
  margin-left: -2px;
}

#tblShortcodes td{
  padding-left: 0;
  padding-right: 10px;
}

#tblShortcodes td:first-child input{
  margin:0;
}

#tblShortcodes td:last-child, #tblShortcodes th:last-child{
  padding-left: 5px;
}